
<body>
<h1>Embedded Components FROM PARENT TO CHILD (Using Input)</h1>
<br>
<h2>Output</h2>
<div>
<app-parent-to-child-parent-component></app-parent-to-child-parent-component>
</div>
<br> 
<hr>
<h1>Embedded Components FROM CHILD TO PARENT (Using  Output and EventEmitters)</h1>
<app-child-to-parent-parent></app-child-to-parent-parent>
<hr>
<h1>Exchange Data between two components using services. (Using Output and EventEmitters)</h1>
<h2>Initiate Change Component</h2>
<app-initiate-change></app-initiate-change>
<br>
<app-reflect-change></app-reflect-change>
<hr>
</body>